
<div class="container" style="width: 53rem;">
  <div class="d-flex justify-content-center">
    <h1 style="text-align:center; margin: 50px;"><%= @artist.artist_name%> Vinyl Discography</h1>
  </div>

<div class='ripple-background'>
  <div class='circle xxlarge shade1'></div>
  <div class='circle xlarge shade2'></div>
  <div class='circle large shade3'></div>
  <div class='circle mediun shade4'></div>
  <div class='circle small shade5'></div>
</div>

  <div class="flex-container">

    <% @artist.albums.each do |album| %>
      <div class="flex-item mb-4">
        <div class="card-vinyl">
          <img src= <%= album.artwork_url%> />
          <div class="card-vinyl-infos">
          <ul style="list-style: none; margin: 0; padding: 0;">
            <li><h2><%= link_to "#{album.album_name}", album_path(album) %></h4></li>
            <li><h3><%= album.artist.artist_name %></h3></li>
            <li><p><%= album.year %></p></li>

            <% album.genre.each do |genre| %>
              <li><p><%= genre %></p></li>
            <% end %>

          </ul>
          </div>
        </div>
      </div>
    <% end %>

  </div>
  <br>
  <div style="margin-bottom: 50px;"><%= link_to 'Search again', root_path, class: "btn btn-primary ml-3" %></div>

<%= javascript_pack_tag 'index.js' %>
</div>


