


<div class="container" style="width: 200rem;">

  <h3>Search for vinyl on discogs, or browse independent sellers here</h3>

  <%= form_tag sellers_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control", id: "seller-search",
      placeholder: "enter your location"
    %>
    <%= submit_tag "Search", class: "btn btn-danger mt-4 mb-4" %>
  <% end %>

 <!--  <div class="d-flex justify-content-center"> -->
 <!-- </div> -->

  <div class="flex-container">

    <% @sellers.each do |seller| %>
      <div class="flex-item mb-4">
        <div class="card-vinyl" style="width: 15rem;">
          <%= image_tag ["turntable.png", "vinyl-player.png", "vinyl.png", "vinyl1.png", ].sample, alt: "Vinyl Tracer icon" %>
          <div class="card-vinyl-infos">
            <h2><%= link_to "#{seller.seller_name}", seller_path(seller) %></h4>
            <p><%= seller.location %></p>
          </div>
        </div>
      </div>
    <% end %>

  </div>

  <br>

  <div><%= link_to 'back to album search', root_path, class: "btn btn-primary mb-4" %></div>

</div>
