
<div>
  <div class="d-flex justify-content-center">
    <h1 id="vinyl-header">Collected Albums</h1>
  </div>

  <div class="flex-container">
    <% if @user_favourites.length === 0 %>
      <div class="d-flex justify-content-center">
        <p>You haven't added any albums to your collection.</p>
      </div>    
    <% end %>

    <% @user_favourites.each do |favourite| %>

      <div class="d-flex mb-4 flex-wrap">
        <div class="card-vinyl">
          <img src= <%= favourite.album.artwork_url %> />
          <div class="card-vinyl-infos">
            <ul style="list-style: none; margin: 0; padding: 0;">
              <li><h2><%= link_to "#{favourite.album.album_name}", album_path(favourite.album) %></h4></li>
              <li><h3><%= favourite.album.artist.artist_name %></h3></li>
              <li><p><%= favourite.album.year %></p></li>
              <li><p><%= favourite.album.genre[0..2].to_sentence %><p></li>
            </ul>
            <%= link_to favourite_path(favourite), method: :delete, data: { confirm: "Are you sure you want to delete this album from your collection?"} do %>
              <i class='far fa-trash-alt delete' id='delete'></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

  </div>


</div>
