<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%=image_path('home-banner.jpg')%>');">
  <div class="container">
    <h1 id="main-heading">Vinyl Tracer</h1>
    <p>Follow us down the wormhole of album connections</p>

     <%= form_tag artists_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control", id: "home-search",
        placeholder: "Search for an Artist..."

      %>
      <%= submit_tag "Search", class: "btn btn-basic" %>
    <% end %>
  </div>
  <br>
  <!-- <div class="container">
      <h2 id="main-heading">What We're about</h2>
      <p>Vinyl Tracer is a unique search engine that lets you search for your favorite artists back catologue and provides a new list of connected albums for you to learn about the web of influences each album has gathered over the years.</p>
  </div> -->

</div>


<%= form_tag albums_path(@artist_id), method: :get do %>
<%= text_field_tag :query,
  params[:query],
  placeholder: "Find an artist"
%>
<%= submit_tag "Search", class: "btn btn-basic" %>
<% end %>
