<h1 style="font-family: Lobster Two"><%= image_tag "vinyl1.png", :size => "50x50" %>Vinyl Tracer </h1>
<h1 style="font-family: Monoton"><%= image_tag "vinyl2.png", :size => "50x50" %>Vinyl Tracer</h1>
<h1 style="font-family: Oleo Script Swash Caps"><%= image_tag "vinyl_icon.png", :size => "50x50" %>Vinyl Tracer</h1>
<h1 style="font-family: Train One"><%= image_tag "vinyl-player.png", :size => "50x50" %>Vinyl Tracer</h1>
<h1 style="font-family: Sonsie One"><%= image_tag "vinyl-player2.png", :size => "50x50" %>Vinyl Tracer</h1>
<h1 style="font-family: Sansita Swashed"><%= image_tag "vinyl.png", :size => "50x50" %>Vinyl Tracer</h1>
<h1 style="font-family: Nunito"><%= image_tag "turntable.png", :size => "50x50" %>Vinyl Tracer</h1>
<h1 style="font-family: Helvetica"><%= image_tag "vinyl3.png", :size => "50x50" %>Vinyl Tracer</h1>

<p style="font-family: Poppins">Some amazingly clever and witty text describing our raison d'etre and Vinyl Tracer life goals in poppins</p>
<p style="font-family: Raleway">Some amazingly clever and witty text describing our raison d'etre and Vinyl Tracer life goals in raleway</p>


<p style="font-family: Work sans">Some amazingly clever and witty text describing our raison d'etre and Vinyl Tracer life goals in work sans</p>
<p style="font-family: Helvetica">Some amazingly clever and witty text describing our raison d'etre and Vinyl Tracer life goals in helvetica</p>
<p style="font-family: Nunito">Some amazingly clever and witty text describing our raison d'etre and Vinyl Tracer life goals in nunito</p>


<%= form_tag albums_path(@artist_id), method: :get do %>
<%= text_field_tag :query,
  params[:query],
  placeholder: "Find an artist"
%>
<%= submit_tag "Search", class: "btn btn-basic" %>
<% end %>
