<div class="album-box">

  <div class='ripple-background'>
    <div class='circle xxlarge shade1'></div>
    <div class='circle xlarge shade2'></div>
    <div class='circle large shade3'></div>
    <div class='circle mediun shade4'></div>
    <div class='circle small shade5'></div>
  </div>
  <div>

 <div class="flex-container justify-content-center" style="max-width: 110rem";>

  <!-- title -->

    <div class="d-flex justify-content-center col-12">
      <h1 id="vinyl-header" class="text-underline"><%= @album.album_name + " - " + @album.artist.artist_name %></h1>
    </div>


    <!-- Buttons -->

    <div class="d-flex align-items center">
      <div class="row justify-content-center">
        <div><%= link_to "Search for #{@album.album_name} on discogs", "https://www.discogs.com/search/?type=all&title=#{@album.album_name}&artist=#{@album.artist.artist_name}&format=vinyl", class: "btn btn-primary mr-2", target: :blank %></div>
        <div><%= link_to 'Find a record store', sellers_path, class: "btn btn-primary mr-2" %></div>
        <div><%= link_to 'Go back to albums', :back, class: "btn btn-info" %></div>
      </div>
    </div>

       <!-- Six degrees button -->

    <% if @associated_acts.length > 0 %>
      <div class="col-12 d-flex justify-content-center">
        <div class="six-degrees btn btn-six m-3 w-50" style="text-align: center;">Six Degrees Of Separation</div>
      </div>



    <!-- Associated album cards -->

      <div class="row justify-content-center flag hidden">
        <div class="d-flex mb-4 card-six-degrees_container">
          <% @associated_acts.each do | act | %>
            <div class="card-six-degrees">
              <img src= <%= act.album.artwork_url%> />
              <div class="card-vinyl-infos h-100">
                <h2 class="pt-2"><%= link_to "#{act.album.album_name}", album_path(act.album) %></h2>
                <h3><%= act.album.artist.artist_name + " " +  act.album.year %></h3>
                <div class="pt-4">
                  <h4>Why
                    <% if act.album.artist.artist_name == "Various"%>
                    <%= act.album.album_name %>
                    <% else %>
                    <%= act.album.artist.artist_name %>
                    <% end %>?
                  </h4>
                  <p><%= act.connection_description %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>


    <!-- Featured album card -->

    <div class="d-flex show-card row justify-content-center align-items-center mb-3">
      <div class="card-vinyl m-3">
        <img src= <%= @album.artwork_url %> />
        <div class="card-vinyl-infos d-flex flex-column justify-content-center" style="height: 43%;">
          <ul style="list-style: none; margin: 0; padding: 0;">
            <li><h2><%= @album.album_name %></h2></li>
            <li><p><%= @album.artist.artist_name %></p></li>
            <li><p><%= @album.year %></p></li>
            <% @album.genre[0..2].each do |genre| %>
              <li><p><%= genre.capitalize %></p></li>
            <% end %>
          </ul>
            <% if @favourite == [] %>
              <%= link_to album_favourites_path(@album.id), method: :post do  %>
                <i class="fab fa-gratipay" id="favourite"></i>
                <% end %>
            <% else  %>
                <i class='fab fa-gratipay' id='favourite-red'></i>
            <% end %>
        </div>
      </div>


      <!-- Album tracks card -->

      <div class="justify-content-center">
        <div class="card-album-tracks">
          <h2 class="text-underline mb-4">Track listings</h2>
          <ol>
            <% @album.tracks.each_with_index do | track | %>
              <li><p><%= track %></p></li>
            <% end %>
          </ol>
        </div>
      </div>


      <!-- Album trivia -->

    <div id="album_trivia" class="card-vinyl m-3" style="font-size: 20px; padding:  12px; color: #5C527F;" align-items-center>
     <p id="album_name" class="hidden"> <%= @album.album_name%> <span style="display: hidden"><%= @album.artist.artist_name %></span></p>
    </div>

  </div>

</div>




<!-- end of main conatiner -->
</div>


<%= javascript_pack_tag 'show.js' %>
    <!-- <a href= <#%= "https://www.discogs.com/sell/list?format=Vinyl&format_desc=Album&q=#{@album.album_name}" %>, target = "blank "> <%= "Search for #{@album.album_name}" %></a> -->

   <!-- https://www.discogs.com/search/?type=all&title=#{@search_title}&artist=#{@search_artist}&format=vinyl -->

        <!-- https://www.discogs.com/sell/list?format=Vinyl&format_desc=Album&q=#{@album.album_name} -->
