<!DOCTYPE html>
<html>
  <head>
    <title>VinylTracer - unique music suggestion and vinyl finding</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <meta property="og:title" content="VinylTracer - unique music suggestion and vinyl finding" />
    <meta property="og:description" content="Find new music via links from real music trivia" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://vinyltracer.com" />
    <meta property="og:image" content="<%= image_url "home-banner-social-media.jpg" %>" />

    <link href='https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.css' rel='stylesheet' />

    <%= favicon_link_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="d-flex flex-column min-vh-100">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
      <div class="flex-grow-1">
        <%= yield %>
      </div>
      <%= render 'shared/footer' %>
    </div>
</html>
