<!DOCTYPE html>
<html>
  <head>
    <title>VinylTracer - unique music suggestion and vinyl finding</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <meta property="og:title" content="VinylTracer - unique music suggestion and vinyl finding" />
    <meta property="og:description" content="Find new music via links from real music trivia" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://vinyltracer.com" />
    <meta property="og:image" content="https://res.cloudinary.com/dslpvndc1/image/upload/v1631044523/home-banner-social-media_sngp0v.jpg" />


  </head>

  <body>
    <div class="wrapper">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>

    <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
